body {
  background: rgb(213, 202, 202);
  text-align: center;
}
.container {
  background-color: rgb(169, 145, 228);
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}
input {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
}
input[type="radio"] {
  display: inline;
  width: 10%;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}
textarea {
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;
}
button {
  padding: 10px 15px;
  border-radius: 6px;
  margin: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4206a3;
  width: 40%;
  font-size: 16px;
}
